.the_card {
    background-color: #e4e4e4;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    padding: 4em 10.5em;
    opacity: 0.99;
}

blockquote, cite {
    font-family: 'Solway', serif;
    font-size: 250%;
}